#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip {
    chain-length = <27>; // Increase to 27 for five row keyboard to utilize ALL leds.
};

&soft_off {
    hold-time-ms = <5000>; // Only turn off it the key is held for 5 seconds or longer.
};


/ {

    kscan: kscan {
      compatible = "zmk,kscan-gpio-matrix";
      diode-direction = "col2row";
      wakeup-source;
    };

    // Combos section //
    combos {
        compatible = "zmk,combos";

        combo_switch_windows {
            timeout-ms = <50>;
            key-positions = <1 38>;  // <1 38> incicate location of keys on keyboard
            bindings = <&kp LG(TAB)>; // Actual bindings you want to be pressed on execution of combo
        };

    };

    // Keyboard section //
    keymap {
                compatible = "zmk,battery,keymap";

                default_layer {
                bindings = <
    &trans &kp Q        &kp W &kp E  &kp R &kp T     &kp Y &kp U &kp I     &kp O   &kp  P          &trans
    &trans &mt CAPS A   &kp S &kp D  &kp F &kp G     &kp H &kp J &kp K     &kp L   &mt BSLH SEMI   &trans 
    &trans &mt LSHIFT Z &kp X &kp C  &kp V &kp B     &kp N &kp M &kp COMMA &kp DOT &mt LSHIFT FSLH &trans
      &mt LALT ESC &mo LGUI &mt LCTRL TAB     &kp ENTER &lt 1 SPACE &lt 2 BSPC 
                        >;
                };

                lower_layer {
                bindings = <
   &trans &kp N1    &kp N2 &kp N3 &kp N4 &kp N5            &kp N6    &kp N7    &kp N8   &kp N9    &kp N0    &trans
   &trans &kp GRAVE &trans &trans &trans &studio_unlock    &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT &kp SQT   &trans
   &trans &kp LSHFT &trans &trans &trans &soft_off         &kp MINUS &kp EQUAL &kp LBKT &kp RBKT  &kp RSHFT &trans
                   &mt LALT ESC &mo LGUI &mt LCTRL TAB    &kp ENTER &trans &trans 
                        >;
                };

                raise_layer {
                        bindings = <
    &trans &kp F1  &kp F2  &kp F3          &kp F4          &kp F5               &kp F6      &kp F7       &kp F8     &kp F9         &kp F10      &trans
    &trans &kp F10 &kp F11 &rgb_ug RGB_ON  &rgb_ug RGB_EFR &rgb_ug RGB_EFF      &kp C_MUTE  &kp C_VOL_UP &kp C_NEXT &bt BT_CLR_ALL &bt BT_SEL 1 &trans
    &trans &trans  &trans  &rgb_ug RGB_OFF &rgb_ug RGB_BRI &rgb_ug RGB_BRD      &kp C_PP    &kp C_VOL_DN &kp C_PREV &bt BT_SEL 0   &bt BT_SEL 2 &trans
                                            &mt LALT ESC &mo LGUI &mt LCTRL TAB     &kp ENTER &trans &trans 
                        >;
                };
        };
};
