#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

        &mt {
          tapping-term-ms = <250>;
          flavor = "balanced";
        };

        &lt {
          compatible = "zmk,behavior-hold-tap";
          label = "LT";
          tapping-term-ms = <200>;
          flavor = "balanced";
        };
/ {

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                      bindings = <
//    ┌─────┬───────────┬───────────┬─────────────┬───────────┬─────────────┐       ┌──────────┬───────────┬───────────┬──────────┬───────────┬─────┐
//    │     │     Q     │     W     │      E      │     R     │      T      │       │    Y     │     U     │     I     │    O     │     P     │     │
//    ├─────┼───────────┼───────────┼─────────────┼───────────┼─────────────┤       ├──────────┼───────────┼───────────┼──────────┼───────────┼─────┤
//    │     │ mt lgui A │ mt lalt S │  mt lctl D  │ mt lsft F │  mt tab G   │       │ mt esc H │ mt rsft J │ mt ralt K │ mt del L │  mt \ ;   │     │
//    ├─────┼───────────┼───────────┼─────────────┼───────────┼─────────────┤       ├──────────┼───────────┼───────────┼──────────┼───────────┼─────┤
//    │     │ mt lsft Z │     X     │      C      │     V     │      B      │       │    N     │     M     │     ,     │    .     │ mt lsft / │     │
//    └─────┴───────────┴───────────┼─────────────┼───────────┼─────────────┤       ├──────────┼───────────┼───────────┼──────────┴───────────┴─────┘
//                                  │ mt lalt esc │  mo lgui  │ mt lctl tab │       │   ent    │ lt 1 spc  │ lt 2 bspc │
//                                  └─────────────┴───────────┴─────────────┘       └──────────┴───────────┴───────────┘
  &trans   &kp Q          &kp W        &kp E          &kp R          &kp T                   &kp Y       &kp U          &kp I        &kp O       &kp P             &trans
  &trans   &mt LGUI A     &mt LALT S   &mt LCTRL D    &mt LSHIFT F   &mt TAB G               &mt ESC H   &mt RSHIFT J   &mt RALT K   &mt DEL L   &mt BSLH SEMI     &trans
  &trans   &mt LSHIFT Z   &kp X        &kp C          &kp V          &kp B                   &kp N       &kp M          &kp COMMA    &kp DOT     &mt LSHIFT FSLH   &trans
                                       &mt LALT ESC   &mo LGUI       &mt LCTRL TAB           &kp ENTER   &lt 1 SPACE    &lt 2 BSPC
                      >;
                };

                lower_layer {
                      bindings = <
//    ┌─────┬──────┬─────┬─────┬────────────────┬───────────┐       ┌──────┬──────┬─────┬──────┬──────┬─────┐
//    │     │  `   │     │     │                │           │       │ left │ down │ up  │ rght │  '   │     │
//    ├─────┼──────┼─────┼─────┼────────────────┼───────────┤       ├──────┼──────┼─────┼──────┼──────┼─────┤
//    │     │  1   │  2  │  3  │       4        │     5     │       │  6   │  7   │  8  │  9   │  0   │     │
//    ├─────┼──────┼─────┼─────┼────────────────┼───────────┤       ├──────┼──────┼─────┼──────┼──────┼─────┤
//    │     │ lsft │     │     │ &studio_unlock │ &soft_off │       │  -   │  =   │  [  │  ]   │ rsft │     │
//    └─────┴──────┴─────┼─────┼────────────────┼───────────┤       ├──────┼──────┼─────┼──────┴──────┴─────┘
//                       │     │                │           │       │      │      │     │
//                       └─────┴────────────────┴───────────┘       └──────┴──────┴─────┘
  &trans   &kp GRAVE   &trans   &trans   &trans           &trans              &kp LEFT    &kp DOWN    &kp UP     &kp RIGHT   &kp SQT     &trans
  &trans   &kp N1      &kp N2   &kp N3   &kp N4           &kp N5              &kp N6      &kp N7      &kp N8     &kp N9      &kp N0      &trans
  &trans   &kp LSHFT   &trans   &trans   &studio_unlock   &soft_off           &kp MINUS   &kp EQUAL   &kp LBKT   &kp RBKT    &kp RSHFT   &trans
                                &trans   &trans           &trans              &trans      &trans      &trans
                      >;
                };

                raise_layer {
                      bindings = <
//    ┌─────┬──────┬────────────┬──────────┬──────────┬──────────┐       ┌──────────────┬──────────────┬──────────────┬────────────┬──────┬─────┐
//    │     │  f1  │     f2     │    f3    │    f4    │    f5    │       │      f6      │      f7      │      f8      │     f9     │ f10  │     │
//    ├─────┼──────┼────────────┼──────────┼──────────┼──────────┤       ├──────────────┼──────────────┼──────────────┼────────────┼──────┼─────┤
//    │     │      │   bt_clr   │ bt_sel 2 │ bt_sel 1 │ bt_sel 0 │       │ mt mute play │ mt next volu │ mt vold prev │            │      │     │
//    ├─────┼──────┼────────────┼──────────┼──────────┼──────────┤       ├──────────────┼──────────────┼──────────────┼────────────┼──────┼─────┤
//    │     │ boot │ &sys_reset │ ug_ br+  │ ug_ br-  │ ug_ tog  │       │              │              │              │ &sys_reset │ boot │     │
//    └─────┴──────┴────────────┼──────────┼──────────┼──────────┤       ├──────────────┼──────────────┼──────────────┼────────────┴──────┴─────┘
//                              │          │          │          │       │              │              │              │
//                              └──────────┴──────────┴──────────┘       └──────────────┴──────────────┴──────────────┘
  &trans   &kp F1        &kp F2       &kp F3            &kp F4            &kp F5                    &kp F6            &kp F7                &kp F8                &kp F9       &kp F10       &trans
  &trans   &trans        &bt BT_CLR   &bt BT_SEL 2      &bt BT_SEL 1      &bt BT_SEL 0              &mt C_MUTE C_PP   &mt C_NEXT C_VOL_UP   &mt C_VOL_DN C_PREV   &trans       &trans        &trans
  &trans   &bootloader   &sys_reset   &rgb_ug RGB_BRI   &rgb_ug RGB_BRD   &rgb_ug RGB_TOG           &trans            &trans                &trans                &sys_reset   &bootloader   &trans
                                      &trans            &trans            &trans                    &trans            &trans                &trans
                       >;
                };
  };
};
