#include <dt-bindings/led/led.h>

/ {
    soft_off: soft_off {
        compatible = "zmk,soft-off";
        hold-time-ms = <3000>;
    };

    vbatt1: vbatt {
        compatible = "zmk,battery-nrf-vddh";
    };

    kscan1: kscan {
        compatible = "zmk,kscan-gpio-matrix";

        row-gpios =
            <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&gpio0 27 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&gpio0 26 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;

        col-gpios =
            <&gpio0 6  GPIO_ACTIVE_HIGH>,
            <&gpio0 8  GPIO_ACTIVE_HIGH>,
            <&gpio0 41 GPIO_ACTIVE_HIGH>,
            <&gpio0 30 GPIO_ACTIVE_HIGH>,
            <&gpio0 45 GPIO_ACTIVE_HIGH>;

        diode-direction = "col2row";
        wakeup-source;
    };

    chosen {
        zmk,battery = &vbatt1;
        zmk,underglow = &led_strip;
        zephyr,display = &oled_right;
    };
};

/* 128x32 SSD1306 display on I2C0 @ 0x3c */
&i2c0 {
    status = "okay";

    oled_right: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        prechargep = <0x22>;
    };
};

/*
 * SPI3 + WS2812 LED strip.
 * Data pin: Nice!Nano v2 P0.06 (Pro Micro D1/MOSI).
 * chain-length: 18 per-key + 6 underglow = 24 total per half.
 */
&pinctrl {
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
        };
    };

    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
            low-power-enable;
        };
    };
};

&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <24>;
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping =
            <LED_COLOR_ID_GREEN
             LED_COLOR_ID_RED
             LED_COLOR_ID_BLUE>;
    };
};
